/* Styles for Delete Order page */
body {
    font-family: Goudy Old Style, sans-serif;
    margin: 0;
    background-color: black;
    padding: 20px;
}

h1 {
    text-align: center;
    color: red;
}

